{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block content %}
    <!-- Start Content Page -->
    <div class="container-fluid bg-light py-5">
        <div class="col-md-6 m-auto text-center">
            <h1 class="h1">{{ object.title }}</h1>
            <h5>
                {{ object.contact }}
            </h5>
        </div>
    </div>
	<div>
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-{{message.tags}}">
				<center>{{message}}</center>
			</div>
		{% endfor %}
	{% endif %}
	</div>
    <!-- Start Contact -->
    <div class="contact-in">
        <div class="contact-map">
            
        <iframe src="{{ object.map_src }}" width="100%" height="auto" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></iframe>
        </div>
        <div class="contact-form">
            <h1>{{ object.title }}</h1>
            <form action="" method="POST">
				{% csrf_token %}
                {{form.full_name}}
                {{form.email}}
                {{form.message}}
                <input type="submit" value="{% translate 'Göndər' %}" name="Submit" class="contact-form-btn" />
            </form>
        </div>
    </div>
    <br>
    <br>


    <div class="container text-center">
        <div class="row">
            <div class="col">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                  <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                </svg>
                <br>
                <br>
                <div>
                    <h5>{{ object.email }}</h5>
                </div>
            </div>
            <div class="col">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                </svg>
                <br>
                <br>
                <div>
                    <h5>{{ object.address }}</h5>
                </div>
            </div>
            <div class="col">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                </svg>
                <br>
                <br>
                <div>
                    <h5>{{ object.phone }}</h5>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!-- End Contact -->

	
    <style>
    *
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	width: 100%;
	height: 100vh;
	display: grid;
	align-items: center;
	background: #f8f9fa;
	font-family: 'Poppins', sans-serif;
}

.contact-in
{
	width: 80%;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0px 0px 10px 0px #666;
}

.contact-map
{
	width: 100%;
	height: auto;
	flex: 50%;
}
.contact-map iframe
{
	width: 100%;
	height: 100%;
}
.contact-form
{
	width: 100%;
	height: auto;
	flex: 50%;
	padding: 30px;
	text-align: center;
}
.contact-form h1
{
	margin-bottom: 10px;
}

.contact-form-txt
{
	width: 100%;
	height: 40px;
	color: #000;
	border: 1px solid #bcbcbc;
	border-radius: 50px;
	outline: none;
	margin-bottom: 20px;
	padding: 15px;
}
.contact-form-txt::placeholder
{
	color: #aaa;
}
.contact-form-textarea
{
	width: 100%;
	height: 130px;
	color: #000;
	border: 1px solid #bcbcbc;
	border-radius: 10px;
	outline: none;
	margin-bottom: 20px;
	padding: 15px;
	font-family: 'Poppins', sans-serif;
}
.contact-form-textarea::placeholder
{
	color: #aaa;
}

.contact-form-btn
{
	width: 100%;
	border:none;
	outline: none;
	border-radius: 50px;
	background: #212529;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 0;
	cursor: pointer;
	font-size: 18px;
}



</style>

{% endblock %}