{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block content %}
<!-- Page header with logo and tagline-->
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">TBlog-a xoş gəlmisiniz!</h1>
            <p class="lead mb-0">Asan istifadə dizaynı ilə sizlərlə</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            <div class="card mb-4">
                <a href="{% if last_blog.slug %}{% url 'blog-detail' slug=last_blog.slug %}{% endif %}"><img class="card-img-top" src="{% if last_blog.image %}{{ last_blog.image.url }}{% endif %}" alt="" /></a>
                <div class="card-body">
                    <div class="small text-muted">
                        <p>{{ last_blog.author.get_full_name }}</p>
                        <p>{{ last_blog.created_at }}</p>
                        <p>{{ last_blog.total_likes }} bəyənmə</p>
                    </div>
                    <h2 class="card-title">{{ last_blog.title }}</h2>
                    <p class="card-text">{{ last_blog.body|safe|truncatechars:300 }}</p>
                    <a class="btn btn-primary" href="{% if last_blog.slug %}{% url 'blog-detail' slug=last_blog.slug %}{% endif %}">Daha çox →</a>
                </div>
            </div>
            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                {% for blog in blogs %}
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="{% if blog.slug %}{% url 'blog-detail' slug=blog.slug %}{% endif %}"><img class="card-img-top" src="{% if blog.image %}{{ blog.image.url }}{% endif %}" alt="" /></a>
                        <div class="card-body">
                            <div class="small text-muted">
                                <p>{{ blog.author.get_full_name }}</p>
                                <p>{{ blog.created_at }}</p>
                                <p>{{ blog.total_likes }} bəyənmə</p>
                            </div>
                            <h2 class="card-title h4">{{ blog.title }}</h2>
                            <p class="card-text">{{ blog.body|safe|truncatechars:200 }}</p>
                            <a class="btn btn-primary" href="{% if blog.slug %}{% url 'blog-detail' slug=blog.slug %}{% endif %}">Daha çox →</a>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:2 %}
                </div>
                <div class="col-lg-6" style="display: none;">
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <br>
            <br>
            <br>
            <!-- Pagination-->
<!--            <nav aria-label="Pagination">-->
<!--                <hr class="my-0" />-->
<!--                <ul class="pagination justify-content-center my-4">-->
<!--                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>-->
<!--                    <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>-->
<!--                    <li class="page-item"><a class="page-link" href="#!">2</a></li>-->
<!--                    <li class="page-item"><a class="page-link" href="#!">3</a></li>-->
<!--                    <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>-->
<!--                    <li class="page-item"><a class="page-link" href="#!">15</a></li>-->
<!--                    <li class="page-item"><a class="page-link" href="#!">Older</a></li>-->
<!--                </ul>-->
<!--            </nav>-->
            <br>
            <br>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Axtar</div>
                <form method="GET" action="{% url 'search' %}">
                    <div class="card-body">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Axtarmaq istədiyiniz sözü yazın..." aria-label="Enter search term..." aria-describedby="button-search" name="search"/>
                            <button class="btn btn-primary" id="button-search" type="submit">Axtar!</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Kateqoriyalar</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                {% for category in categories %}
                                <li><a href="{% if category.slug %}{% url 'blog-by-category' slug=category.slug %}{% endif %}">{{ category.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
