{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section d-grid justify-content-center mt-3 mb-xxl-5 p-5">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Blog yarat!</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-secondary" type="submit">Paylaş</button>
        </div>
    </form>
</div>
{% endblock %}